<style>
  .Select{
    user-select: all;
  }
</style>


<nav id='customNav' class='navbar navbar-expand-sm bg-light fixed-top'>
  <div class='container-fluid'>
    <ul class='navbar-nav justify-content-start'>
      <li>
        <a>
          <img
            alt='a'
            id='hrtLogo'
            src='https://avatars.githubusercontent.com/u/76637730?v=4'
            draggable='false'
          />
        </a>
      </li>
    </ul>
  </div>
</nav>


<h1 style="margin-top: 70px; text-align: center;" class="Heading noSelect">Get Started</h1>
<div class="mainSection noSelect">
  <div class="subSection">
    <h1>Installation</h1>
    <p class="Select">npm install -g @angular/cli</p>
  </div>
  <div class="subSection">
    <h1>Start</h1>
    <p class="Select">ng new my-first-project</p>
    <p class="Select">cd my-first-project</p>
    <p class="Select">ng serve</p>
  </div>
</div>


<h1 style="margin-top: 70px; text-align: center;" class="Heading noSelect">Default Template</h1>
<div class="mainSection noSelect">
  <div class="subSection">
    <h1>Default</h1>
    <a href="./app.default.html" class="btn btn-primary">Default Template</a>
  </div>
</div>



<router-outlet></router-outlet>
